<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="{% static 'js/scripts.js' %}" defer></script>
    <script src="{% static 'js/table.js' %}" defer></script>
    <script src="{% static 'js/like_dislike.js' %}"></script>
    <script src="{% static 'js/preview.js' %}"></script>
    <script src="{% static 'js/attachments.js' %}"></script>
</head>
<body>
    <div class="container">
        <h1 class="text-center">Blog</h1>

        <div class="mb-4 d-flex justify-content-end">
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}" class="ml-2">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link">Logout</button>
                </form>
            {% else %}
                <button class="btn btn-link" data-toggle="modal" data-target="#loginModal">Login</button>
                <button class="btn btn-link ml-2" data-toggle="modal" data-target="#registerModal">Register</button>
            {% endif %}
        </div>

        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="loginModalLabel">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'login' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="login">Login:</label>
                                <input type="text" class="form-control" id="login" name="login" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="registerModalLabel">Register</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'register' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="login">Login:</label>
                                <input type="text" class="form-control" id="login" name="login" required>
                            </div>
                            <div class="form-group">
                                <label for="username">Username:</label>
                                <input type="text" class="form-control" id="username" name="username" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password:</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <div class="form-group">
                                <label for="password2">Confirm Password:</label>
                                <input type="password" class="form-control" id="password2" name="password2" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <table>
                <tbody>
                    {% for post in posts %}
                        <tr>
                            <td colspan="4">
                                <div class="post-header d-flex justify-content-between align-items-center mb-3">
                                    <h2 class="mb-0">{{ post.title }}</h2>
                                    <div class="d-flex align-items-center">
                                        <span class="text-muted mr-2">{{ post.created_at|date:"d.m.Y в H:i" }}</span>
                                        <div class="d-flex align-items-center">
                                            <form class="like-form" data-id="{{ post.id }}" action="{% url 'like-dislike' post.id 'post' 'like' %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-link p-0">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#84b6e6" class="bi bi-arrow-up" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 0 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"/>
                                                    </svg>
                                                </button>
                                            </form>
                                            <span class="ml-1 mr-1 like-counter" data-id="{{ post.id }}" data-likes="{{ post.likes }}" style="padding-top: 6px; color: {% if post.likes < 0 %} red {% else %} inherit {% endif %};">{{ post.likes }}</span>
                                            <form class="dislike-form" data-id="{{ post.id }}" action="{% url 'like-dislike' post.id 'post' 'dislike' %}" method="post">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-link p-0">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#84b6e6" class="bi bi-arrow-down" viewBox="0 0 16 16">
                                                        <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"/>
                                                    </svg>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="post-content mb-3">
                                    <p>{{ post.content }}</p>
                                </div>

                                {% if user.is_authenticated %}
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCommentModal-{{ post.id }}">
                                        Add Comment
                                    </button>
                                {% endif %}

                                <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#commentsTableModal-{{ post.id }}">
                                  View Comments Table
                                </button>

                                <div class="modal fade" id="commentsTableModal-{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="commentsTableModalLabel-{{ post.id }}" aria-hidden="true">
                                    <div class="modal-dialog modal-lg container-fluid" role="document">
                                        <div class="modal-content">
                                              <div class="modal-header">
                                                  <h5 class="modal-title" id="commentsTableModalLabel-{{ post.id }}">Comments for {{ post.title }}</h5>
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                              </div>
                                              <div class="modal-body">
                                                  <table class="table table-striped comment-table" id="comment-table-{{ post.id }}">
                                                      <thead>
                                                          <tr>
                                                              <th><a href="#" onclick="sortTable({{ post.id }}, 0)">Username</a></th>
                                                              <th><a href="#" onclick="sortTable({{ post.id }}, 1)">Email</a></th>
                                                              <th><a href="#" onclick="sortTable({{ post.id }}, 2)">Date</a></th>
                                                              <th>Content</th>
                                                          </tr>
                                                      </thead>
                                                      <tbody>
                                                          {% for comment in post.root_comments %}
                                                              <tr>
                                                                  <td>{{ comment.username|default:comment.user.username }}</td>
                                                                  <td>{{ comment.user.email }}</td>
                                                                  <td>{{ comment.created_at|date:"d.m.Y в H:i" }}</td>
                                                                  <td>{{ comment.text }}</td>
                                                              </tr>
                                                          {% endfor %}
                                                    </tbody>
                                                 </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="addCommentModal-{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Add Comment</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="{% url 'add-comment' post.id %}" method="post" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    {{ comment_form.as_p }}
                                                    <img src="{% static 'captcha/'|add:captcha_image %}" alt="CAPTCHA" class="my-2">
                                                    <button type="button" class="btn btn-secondary" id="previewButton-{{ post.id }}" data-toggle="modal" data-target="#previewModal-{{ post.id }}">Preview</button>
                                                    <button type="submit" class="btn btn-primary comment-button">Add comment</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="modal fade" id="previewModal-{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="previewModalLabel-{{ post.id }}" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="previewModalLabel-{{ post.id }}">Comment Preview</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div id="previewContent-{{ post.id }}"></div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="comments-section mt-3">
                                    <h2 class="comments-h2">Comments</h2>
                                    {% include 'comments_tree.html' with comments=post.page_obj.object_list comment_form=comment_form %}
                                </div>
                                <nav class="pagination justify-content-center mt-4">
                                    <ul class="pagination">
                                        {% if post.page_obj.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?comments_page_{{ post.id }}=1">&laquo; first</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="?comments_page_{{ post.id }}={{ post.page_obj.previous_page_number }}">previous</a>
                                            </li>
                                        {% endif %}
                                        {% for num in post.page_obj.paginator.page_range %}
                                            <li class="page-item {% if post.page_obj.number == num %}active{% endif %}">
                                                <a class="page-link" href="?comments_page_{{ post.id }}={{ num }}">{{ num }}</a>
                                            </li>
                                        {% endfor %}
                                        {% if post.page_obj.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?comments_page_{{ post.id }}={{ post.page_obj.next_page_number }}">next</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="?comments_page_{{ post.id }}={{ post.page_obj.paginator.num_pages }}">last &raquo;</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
